<main>
  <div id="myForm2">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="form-inline">
      <label>Player name:</label>
      <input class="form-control" type="text" placeholder="Player name" [(ngModel)]="player.full_name" formControlName="full_name" name="full_name">
      <div *ngIf="form.controls['full_name'].invalid && form.controls['full_name'].touched" class="alert">
        <div *ngIf="form.controls['full_name'].errors.required">
          <small class="error">Please enter name</small>
        </div>
      </div>
      <label>Birthday:</label>
      <input class="form-control" type="date" placeholder="Birthday" [(ngModel)]="player.birthday" formControlName="birthday" name="birthday">
      <div *ngIf="form.controls['birthday'].invalid && form.controls['birthday'].touched" class="alert">
        <div *ngIf="form.controls['birthday'].errors.required">
          <small class="error">Please enter birthday</small>
        </div>
      </div>
      <label>Start career:</label>
      <input class="form-control" type="date" placeholder="Start career" [(ngModel)]="player.start_career" formControlName="start_career" name="start_career">
      <div *ngIf="form.controls['start_career'].invalid && form.controls['start_career'].touched" class="alert">
        <div *ngIf="form.controls['start_career'].errors.required">
          <small class="error">Please enter birthday</small>
        </div>
      </div>
      <input id="add_button" type="submit" value="Add" style="background: aqua">
    </form>
  </div>
  <h3>Players</h3>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Star career</th>
      <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players | async">
      <td>{{player.full_name}}</td>
      <td>{{player.birthday}}</td>
      <td>{{player.start_career}}</td>
      <td><button (click)="deletePlayer(player.id)" type="button" class="btn btn-danger">Delete</button>
        <button (click)="getPlayerById(player.id)" style ="margin-left: 10px;"type="button" class="btn btn-danger">Details</button>
        <button (click)="updatePlayerById(player.id)" style ="margin-left: 10px;"type="button" class="btn btn-danger">Update</button></td>
    </tr>
    </tbody>
  </table>
</main>
