<!--<div *ngIf="player">About Player-->
<div>
  <label ><b>Name: </b></label> {{team.name}}
</div>
<div>
  <label><b>Birthday: </b></label> {{team.city}}
</div>
<div>
  <label><b>Start career: </b></label> {{team.country}}
</div>
<div>
      <label><b>Budget: </b></label> {{team.budget}}
</div>
<!--</div>-->

<h3>Players</h3>
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Star career</th>
    <th scope="col">Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of team.players">
    <td>{{player.full_name}}</td>
    <td>{{player.birthday}}</td>
    <td>{{player.start_career}}</td>
    <td><button (click)="getDeleteById(player.id)" type="button" class="btn btn-danger">Delete</button>
      <button (click)="getPlayerById(player.id)" style ="margin-left: 10px;"type="button" class="btn btn-danger">Details</button>
      <button (click)="updatePlayerById(player.id)" style ="margin-left: 10px;"type="button" class="btn btn-danger">Update</button>
      <button (click)="terminateContract(player.id)" type="button" class="btn btn-danger" style ="margin-left: 10px">Terminate Contract</button>
    </td>
  </tr>
  </tbody>
</table>
